* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
}

.page-wrapper {
	background: #f7f5f2;
}

html ::-webkit-scrollbar-track {
	background: transparent;
}

html ::-webkit-scrollbar-thumb {
	background: #b2744c;
	border-radius: 10px;
}

html ::-webkit-scrollbar {
	width: 10px;
}

/* navbar start */
#navbar {
	background-color: #b2744c;
}

#logo img {
	border-radius: 10px;
	width: 160px;
	margin-left: 40px;
}

.navbar-nav {
	margin-left: 50px;
}

.nav-item .nav-link {
	color: black;
	margin-left: 10px;
	font-weight: bold;
	transition: 0.5s;
	font-size: 23px;
}

.nav-item .nav-link:hover {
	background: #f7f5f2;
	border-radius: 5px;
	color: black;
}

#navbar form button {
	background: black;
	color: white;
	border: 1px solid white;
}

/* navbar end */


/* home section start */
#home {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/coffee-main.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 88%;
}

#home .content {
	padding-top: 210px;
	margin-left: 56px;
}

#home h2 {
	font-size: 50px;
	color: white;
	text-align: center;
}

#home .content p {
	margin-top: 10px;
	color: white;
}

#coffees {
	font-size: 20px;
	color: white;
	height: 60%;
	display: flex;
	flex-flow: column wrap;
	align-content: space-evenly;
}

#coffees h3{
	font-size: 30px;
	color: white;
}
#coffees div:hover {
	background: rgba(178, 116, 76, 0.45);
	color: white;
}

#btn {
	width: 150px;
	height: 36px;
	margin-top: 20px;
	background: white;
	border-radius: 5px;
	font-weight: bold;
	border: none;
	transition: 0.5s ease;
	cursor: pointer;
	margin-left: 1000px;
}

#btn:hover {
	background: #b2744c;
	color: white;
}

/* home section end */


/* image selection start */
#top-cards {
	width: 100%;
	height: 40vh;
	background: #f7f5f2;
}

.heading2 {
	color: black;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.heading2 span {
	color: #b2744c;
}

#top-cards .container {
	margin-top: 30px;
}

#top-cards .card {
	border-radius: 10px;
	transition: 0.5s;
	cursor: pointer;
}

#top-cards .card img {
	border-radius: 10px;
	height: 300px;
}
 .card + p {
	 margin-top: 5px;
	color: black;
	 font-size: 22px;
	 text-align: center;
	 font-weight: bold;
}

#top-cards .card:hover {
	transform: translateY(-10px);
}

/*  image selection end */



/* add coffee start */
#add {
	width: 100%;
	height: 60vh;
}

#add .container {
	padding-top: 70px;
}

.heading {
	text-align: center;
	margin-bottom: 50px;
	color: black;
	font-size: 45px;
	font-weight: bold;
}

.heading span {
	color: #b2744c;
}
.col-md-6 h3 {
	font-size: 25px;
	font-weight: bold;
}
.col-md-6 {
	font-size: 25px;
}

#add .card {
	border-radius: 10px;
}

#add .card img {
	border-radius: 10px;
}

#add-btn {
	width: 200px;
	height: 36px;
	background: transparent;
	border: 2px solid #b2744c;
	border-radius: 5px;
	font-weight: bold;
	transition: 0.5s;
	cursor: pointer;
}

#add-btn:hover {
	background-color: #b2744c;
	color: white;
}

@media screen and (max-width: 766px) {
	#add p {
		font-size: 15px;
	}

	#add {
		height: 120vh;
	}
}
/* add coffee end */






